* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 3rem;
  display: flex;
  gap: 22rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
